@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*
PRIMARY COLOR
*/

$Paleblue: hsl(225, 100%, 94%);
$Brightblue: hsl(245, 75%, 52%);

/*
NATURL COLOR
*/

$Verypaleblue: hsl(225, 100%, 98%);
$Desaturatedblue: hsl(224, 23%, 55%);
$Darkblue: hsl(223, 47%, 23%);

/*
fonts and sizes
*/

$fontparasize: 16px;
$fontfamily: 'Red Hat Display', sans-serif;

/*
BOLD NESS
*/

$weight1:500;
$weight2:700;
$weight3:900;